<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskManagementApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TaskManagementApp.Properties.Settings>
            <setting name="CurrentUserUsername" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>app</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>*6j($5(f5TF3pOIbL6gD(vtZf</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>taskmanageapp</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>5013</value>
            </setting>
        </TaskManagementApp.Properties.Settings>
    </userSettings>
</configuration>